.cache/
.conda/
.config/
.dotnet/
.local/
.nv/
.ssh/
.vscode-server/
weight/
.bash_history
.bash_logout
.bashrc
.condarc
.profile
.wget-hsts
TimeSeries.png

# code_MGCLAD
code_MGCLAD/datasets/
code_MGCLAD/.idea/
code_MGCLAD/__pycache__/
code_MGCLAD/*/__pycache__/
code_MGCLAD/output/SWAT/
code_MGCLAD/output/WADI/
code_MGCLAD/output/*/logs/
code_MGCLAD/output/*/*/*
!code_MGCLAD/output/**/summary.txt
!code_MGCLAD/output/**/config.txt

# sub_adjacent_transformer-main
sub_adjacent_transformer-main/.idea/
sub_adjacent_transformer-main/__pycache__/
sub_adjacent_transformer-main/checkpoints/
sub_adjacent_transformer-main/*/__pycache__/
sub_adjacent_transformer-main/dataset/
sub_adjacent_transformer-main/pics/
sub_adjacent_transformer-main/results/
sub_adjacent_transformer-main/.gitignore
sub_adjacent_transformer-main/README.md
sub_adjacent_transformer-main/requirements.txt
sub_adjacent_transformer-main/LICENSE

# other
dataset_analyze/*/
dataset_analyze/*/**
!dataset_analyze/*
dataset_analyze/TimeSeries.png